In [1]:
import numpy as np
import pandas as pd

In [2]:
# version of numpy installed
np.__version__

'1.21.5'

In [3]:
# read dataset
data = pd.read_csv('data.csv')

In [5]:
# Number of records in the dataset
data.shape

(11914, 16)

In [6]:
data.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [38]:
# The most popular car manufacturers
data['Make'].value_counts().head(3)

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

In [21]:
df = data[data['Make'] == 'Audi']

In [34]:
# Number of unique Audi car models
df['Model'].nunique()

34

In [51]:
# Number of columns with missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [44]:
data.columns

Index(['Make', 'Model', 'Year', 'Engine Fuel Type', 'Engine HP',
       'Engine Cylinders', 'Transmission Type', 'Driven_Wheels',
       'Number of Doors', 'Market Category', 'Vehicle Size', 'Vehicle Style',
       'highway MPG', 'city mpg', 'Popularity', 'MSRP'],
      dtype='object')

In [61]:
# Find the median value of "Engine Cylinders" column in the dataset.
data['Engine Cylinders'].median()

6.0

In [62]:
# calculate the most frequent value of the same "Engine Cylinders
data['Engine Cylinders'].value_counts().head(3)

4.0    4752
6.0    4519
8.0    2031
Name: Engine Cylinders, dtype: int64

In [63]:
# fillna method to fill the missing values in "Engine Cylinders" with the most frequent value
data['Engine Cylinders'] = data['Engine Cylinders'].fillna(4)

In [64]:
# calculate the median value of "Engine Cylinders" once again
data['Engine Cylinders'].median()

6.0

In [ ]:
data